<div class="row">
  <h3 class="text-center">Control Panel</h3>
</div>

<div class="row">
  <div class="col-md-6 col-sm-12 live-step vcenter">
    <h5 class="text-center right-title">Live Status of Device Operation</h5>
    <div class="text-center button-spacing">
      <button type="button" class="btn custom-button-formatting btn-success start" id="start-btn">Start</button>
      <button type="button" class="btn custom-button-formatting btn-danger stop" id="stop-btn">Stop</button>
    </div>

    <ul>
      {{#each stepList}}
        <li class="{{this.status}}" id="Step{{this.index}}">
          <span class="title">{{this.title}}</span>
          {{!-- <span class="title">{{this.title}}{{this.statusMessage}}</span> --}}
        </li>
      {{/each}}
    </ul>
  </div>

  <div class="col-md-6 col-sm-12 live-image vcenter">
    <div class="row text-center button-spacing">
      <button type="button" class="btn custom-button-formatting btn-info capture" id="capture-btn">Capture New Image</button>
    </div>
    {{#if photo.found}}
      <div class="row">
        <img class="img-rounded" src="photos/{{photo.name}}" width="530" height="420" alt="Device Picture" id="device-img">
        <p class="title text-center">Captured image of {{photo.title}}</p>
      </div>
    {{else}}
      <div class="row">
        <img class="img-rounded" src="photos/0.jpg" width="530" height="420" alt="Device Picture" id="device-img">
        <p class="title text-center">No Image Found</p>
      </div>
    {{/if}}
  </div>
</div>
